:root {
  /* === COLORES PRINCIPALES === */

  /* Azul institucional (logo / textos importantes) */
    --color-primary: #2F3E4E;

    /* Verde institucional (acento principal) */
    --color-secondary: #00A859;

    /* Verde claro (detalles / hover / decoraciones) */
    --color-accent: #6CC24A;

    /* Turquesa (barra superior / info) */
    --color-info: #168A8A;


    /* === COLORES NEUTROS === */

    /* Fondo principal */
    --color-bg: #FFFFFF;

    /* Fondo secciones */
    --color-bg-light: #F5F5F5;

    /* Bordes / separadores */
    --color-border: #D1D1D1;

    /* Texto principal */
    --color-text: #444444;

    /* Texto secundario */
    --color-text-light: #777777;

    --color-complementary: #fbedd4;
    /* === TIPOGRAFÍA === */

    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Open Sans', sans-serif;


    /* === SOMBRAS === */

    --shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.08);
    --shadow-medium: 0 4px 12px rgba(0, 0, 0, 0.12);


    /* === TRANSICIONES === */

    --transition: all 0.3s ease;
}

/*bienvenida */

.bienvenida-carreras{
  background: linear-gradient(var(--color-info)30%, var(--color-primary)80%);
}

.container h2{
  color: var(--color-bg-light);
  font-size: var(--font-title);
  font-size: 3rem;
}

.container p{
  color: var(--color-bg-light);
  font-size: 1.2rem;
}


/*pre-inscripciones */


.card-header{
  background-color: var(--color-info);
  color: var(--color-primary);
}

.card-body{
  background-color: var(--color-border);
}

.card-body img{
  border-radius: 5px;
}
.card-text{
  color: var(--color-primary)!important;
}