:root {
  /* === COLORES PRINCIPALES === */

  /* Azul institucional (logo / textos importantes) */
    --color-primary: #2F3E4E;

    /* Verde institucional (acento principal) */
    --color-secondary: #00A859;

    /* Verde claro (detalles / hover / decoraciones) */
    --color-accent: #6CC24A;

    /* Turquesa (barra superior / info) */
    --color-info: #168A8A;


    /* === COLORES NEUTROS === */

    /* Fondo principal */
    --color-bg: #FFFFFF;

    /* Fondo secciones */
    --color-bg-light: #F5F5F5;

    /* Bordes / separadores */
    --color-border: #D1D1D1;

    /* Texto principal */
    --color-text: #444444;

    /* Texto secundario */
    --color-text-light: #777777;


    /* === TIPOGRAFÍA === */

    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Open Sans', sans-serif;


    /* === SOMBRAS === */

    --shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.589);
    --shadow-medium: 0 4px 12px rgba(0, 0, 0, 0.842);


    /* === TRANSICIONES === */

    --transition: all 0.3s ease;
}


/*main section*/

/*bienvenoidas*/

.card-bienvenida{ /*section etiquta*/
    background: 
    linear-gradient(rgba(22,138,138,0.6), rgba(47,62,78,0.4)),
    url("/assets/img/instituto.png") center/cover no-repeat;
  min-height: 70dvh;
}

.card-b{
  width: 85%;
}

.card-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-titular h2{
  color: var(--color-bg);
  font-family: var(--font-title);
  text-shadow: var(--shadow-soft);
}

.card-text p{
  color: var(--color-bg);
  text-shadow: var(--shadow-medium);
}

/*carrouseles*/

.carrouseles{
  min-height: 60dvh;
  padding: 20px 0;
}

.card-img-carr{
  border-radius: 10px;
  background-color: var(--color-info);
}

.carousel-item{
  width: 100%;
}

.carousel-item img{
  height: 400px;
}

.card-inf h2{
  font-size: 2.2rem;
  color: var(--color-primary);
  font-family: var(--font-title);
}

/*informcion destacada*/

.cont-cards .card{
  min-height: 300px;
  border-color: var(--color-primary);
  padding: 0;
}

.card-header{
  width: 100%;
  background-color: var(--color-secondary);
}

.card-body{
  padding: 18px;
}

.btn-card-inf{
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: none;
  background-color: var(--color-info);
  padding: 8px;
  border-radius: 8px;
}